.deepsearch {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    min-height: calc(100vh - 80px);

}

.header {
    display: flex; 
    align-items: center;
    gap: 0.5rem;
}


.inputs {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 2rem;
}

.inputs>div {
    display: flex;
    flex-direction: column;
}

/* .inputs > div {
    border: 1px solid var(--light);
    border-radius: .5rem;
    padding: 2rem;
} */

.inputs h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    font-weight: 400;
}

.search span{
    width: 100%;
    text-align: right;
    margin-top: 0.5rem;
}

.deepsearch textarea {
    background-color: var(--dark);
    width: 100%;
    /* max-width: 600px; */
    color: var(--white);
    resize: vertical;
    border: none;
    /* border: 1px solid var(--light); */
    border-radius: .5rem;
    outline: #000;
    /* padding: .8rem 5rem .8rem 2rem; */
    font-size: 1rem;
    padding: 1rem;
    font-size: .8rem;
    min-height: 50px;
    max-height: 400px;
    border: 3px solid var(--dark);
}

/* on focus */
.deepsearch textarea:focus {
    border: 3px solid var(--primary);
}

.deepsearch textarea::placeholder {
    color: var(--light);
}

.deepsearch select {
    background-color: var(--dark);
    width: 100%;
    /* max-width: 600px; */
    color: var(--white);
    resize: vertical;
    border: none;
    /* border: 1px solid var(--light); */
    border-radius: .5rem;
    outline: #000;
    padding: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: var(--light);
}

.deepsearch input {
    background-color: var(--dark);
    width: 100%;
    /* max-width: 600px; */
    color: var(--light);
    border: none;
    border-radius: .5rem;
    outline: #000;
    padding: 1rem;
    font-size: .8rem;
}

.deepsearch input::placeholder {
    color: var(--light);
}

.platforms>div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.platform {
    border: 1px solid var(--light);
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    cursor: pointer;
    color: var(--light);
    font-size: .8rem;
    background-color: var(--dark);
}

.platform p{
    color: var(--light);
    font-size: 1rem;
}

.submit {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
    cursor: pointer;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    padding: 10px 30px;
    font-weight: bold;
    display: flex;
    width: fit-content;
    float: right;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.content div{
    border: 1px solid var(--light);
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    cursor: pointer;
    font-size: .8rem;
    background-color: var(--dark);
}

.content p{
    color: var(--light);
    font-size: 0.8rem;
}

.similarInput{
    display: flex;
    gap: 1rem;
}

.similarInput button{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
    cursor: pointer;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 48.65px;
    /* font-weight: bold; */
    display: flex;
    font-size: 1.5rem;
}

.inputs .submitContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.topMatches .header{
    margin: 2rem 0rem;
    font-weight: 700;
}

.matches{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: start;
    gap: 1rem;
    background-color: var(--dark);
    padding: 2rem;
    border-radius: 0.5rem;
}

.themes, .genres{
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
    display: flex;
}

/* .main{
    border-right: 1px solid var(--light);
} */

.main h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.genre{
    background-color: var(--primary);
    color: var(--white);
    border-radius: .2rem;
    margin-top: .2rem;
    padding: .2rem .5rem;
}

.theme{
    color: var(--white);
    background-color: #005a00;
    border-radius: .2rem;
    margin-top: .2rem;
    padding: .2rem .5rem;
}

.description{
    -webkit-line-clamp: 5;
    color: var(--light);
    -webkit-box-orient: vertical;
    font-size: 1rem;
    line-height: 1.3rem;
    display: -webkit-box;
    overflow: hidden;
}

.stats{
    height: 100%;
}

.stats ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: .5rem;
}

.stats li h4 {

}

.stats li p{
    font-size: .8rem;
    color: var(--light);
}

.game_platforms{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}


.game_platform {
    background-color: var(--grey);
    color: var(--white);
    border-radius: .2rem;
    margin-top: .2rem;
    padding: .2rem .5rem;
}

.match{
    border-radius: .2rem;
    margin-top: .2rem;
    padding: .2rem .5rem;
    width: fit-content;
}

.stats li .red{
    background-color: var(--red);
    color: var(--white);
}

.stats li .orange{
    background-color: var(--orange);
    color: var(--white);
}

.stats li .yellow{
    background-color: var(--yellow);
    color: var(--white);
}

.stats li .light-green{
    background-color: var(--light-green);
    color: var(--white);
}

.stats li .green{
    background-color: var(--green);
    color: var(--white);
    
}

@media screen and (width < 768px) {
    .submit{
        width: 100%;
    }

    .game {
        grid-template-columns: 1fr;
    }

    .main{
        border-bottom: 1px solid var(--grey);
        padding-bottom: 1rem;
    }

    .stats ul {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .stats ul li {
        flex-grow: 1;
        flex-basis: 48%;
    }
}