* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}


:root {
    /* --background: #08080f; */
    --background: #0a0d15;
    /* --dark: #14131a; */
    --dark: #161723;
    --light: #b5b5b5;
    --grey: #464450;
    --skeleton-1: #1e1e22;
    --skeleton-2: #2a2a30;
    --white: #fff;
    --primary: #863ac4;
    --green: #007000;
    --yellow: #d5d803;
    --light-green: #225a2f;
    --orange: #d58b03;
    --red: #ff0826;
    --grad-1: #1b1b1fe6;
    --grad-2: #27272ce6;
    --grad-3: #00000000;
    --overlay: #000000b3;
}

/* html {
    scroll-behavior: smooth;
} */

html {
    scrollbar-width: thin;
    scrollbar-color: #ffffff4d var(--background);
}


html,
body {
    overscroll-behavior: contain;
    touch-action: manipulation;
}

body {
    font-family: var(--font-quicksand);
    font-style: normal;
    background-color: var(--background);
    /* overflow: hidden; */
    overflow-y: scroll;
}

.toast {
    font-family: var(--font-quicksand);
    font-style: normal;
    font-weight: bold;
}

p,
a,
button,
input,
textarea,
select,
li {
    font-family: var(--font-quicksand);
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    word-wrap: break-word;
}

a {
    color: var(--light);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-quicksand);
    color: var(--white);
    font-weight: 600;
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

span {
    color: var(--light);
    font-size: 0.8rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff4d;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a3a3a34d;
}

main {
    display: flex;
    padding: 3rem 0;
    min-height: 100vh;
}

/* .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
} */

.CircularProgressbar-text{
    font-weight: 800;
}