

.viewport{
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;
    overflow-x: scroll;

    -webkit-overflow-scrolling: touch;
    /* Firefox */
    scrollbar-width: none;

    /* IE/Edge Legacy */
    -ms-overflow-style: none;
    touch-action: pan-x;
}

/* hide scrollbar */

.viewport::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.viewport .navigation{
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.502);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.viewport:hover .navigation {
    opacity: 1;
    pointer-events: auto;
}

.viewport .navigation:hover{
    background-color: hsla(0, 0%, 0%, 0.7);
}

.left{
    top: 0;
    left: 0;
}

.right{
    top: 0;
    right: 0;
}

@media (width < 768px) {
    /* .viewport .navigation{
        opacity: 1;
        pointer-events: auto;
    } */

    .viewport .navigation{
        display: none;
    }
}