

.overview{
    margin-top: 2rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--dark);
    border-radius: 0.5rem;
    scroll-margin-top: 150px;
    width: 100%;
}

.overview h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.overview p{
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--light)
}

.readMore{
    color: var(--primary);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.readMore:hover{
    text-decoration: underline;
}