.details {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--dark);
    border-radius: 0.5rem;
    scroll-margin-top: 150px;
}

.details h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.details h4{
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
}

.detailSection {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.item {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 1rem;
}

.itemHeader{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.item p{
    font-size: 1rem;
    color: var(--light);
}

.link{
    color: var(--primary);
}

.link:hover{
    text-decoration: underline;
}

@media screen and (width < 768px) {

    .item {
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .item:not(:last-child){
        border-bottom: 1px solid var(--grey);
    }
}